In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('county_government_wifi_locations.csv')

In [ ]:
df.head()

  Agency  ...                      Location
0    MCG  ...                           NaN
1    MCG  ...  POINT (-77.267914 39.179332)
2    MCG  ...                           NaN
3    MCG  ...  POINT (-90.409668 40.720439)
4    MCG  ...                           NaN

[5 rows x 5 columns]

In [ ]:
df.Department.unique()

array(['DPL', 'RSC', 'DTS', 'CAO/CEX/CC/Courts', 'FRS', 'REC', 'DOT',
       'DGS', 'HHS', 'BOE', 'DED/DEP', 'DOCR', 'MCPD', 'DLC',
       'PIO/PublicSafety', 'Warehouse', 'DHS', 'DPS'], dtype=object)

In [ ]:
# Looking at how many are missing
df.Location.isnull().sum()

34

In [ ]:
# socrata POINT datatypes list their coordinates as "longitude,latitude"
df[["Longitude", "Latitude"]] = df["Location"].str.replace("POINT \(","").str.replace("\)","").str.split(" ", expand=True)
print(df)

    Agency         Department  ...    Longitude   Latitude
0      MCG                DPL  ...          NaN        NaN
1      MCG                RSC  ...   -77.267914  39.179332
2      MCG                DTS  ...          NaN        NaN
3      MCG  CAO/CEX/CC/Courts  ...   -90.409668  40.720439
4      MCG                FRS  ...          NaN        NaN
..     ...                ...  ...          ...        ...
173    MCG                DGS  ...  -121.500155  38.549099
174    MCG                HHS  ...   -77.177593  39.102672
175    MCG                FRS  ...   -77.053153  39.042763
176    MCG                DOT  ...          NaN        NaN
177    MCG                RSC  ...   -77.095858  38.984796

[178 rows x 7 columns]

In [ ]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="capstone")

In [ ]:
# the NaN are floats
type(df['Location'][0])

float

In [ ]:
# the values that are not missing in locations are strings
type(df['Location'][10])

str

In [ ]:
failed = 0 # counting the number of times the geolocator fails
# getting the value and index of the all the rows
for row_num, row in enumerate(df["Location"]):
  # if the value is NaN (float type) 
  if type(row) == float:
    # geocode the address at the same row
    location = geolocator.geocode(df["Address"][row_num])
    # if geocoded successfully
    if location is not None:
      df["Latitude"][row_num] = location.latitude
      df["Longitude"][row_num] = location.longitude
    else:
      failed += 1
      print(df["Address"][row_num])
print(failed)

7361 Calhoun Plaza,  Rockville, MD 20850
19801 Bealsville Road, Bealsville, MD 20839
8540 Anniversary Drive, Gaithersburg, MD 20877
8630 Fenton Street, 10th floor, Silver Spring, MD
1400 Spring St suite 305, Silver Spring, MD 20910
19300 Georgia Avenue, Brookville,  MD 20833
3300 Briggs Chaney Road, Silver Spring, MD 20904
14715 Good Hope Road, Silver Spring, MD 20905
13900 Old Columbia Pike, Silver Spring, MD 20904
14910 Old Comumbia Pike, Burtonsville, MD 20866
18905 Kingsview Drive, Germantown, MD, 20874
4407 Aspen Hill Road, Rockville, MD
14335 Cape May Road, Silver Spring, MD 20904
13

In [ ]:
df

    Agency         Department  ...    Longitude   Latitude
0      MCG                DPL  ...     -76.9792    39.0102
1      MCG                RSC  ...   -77.267914  39.179332
2      MCG                DTS  ...          NaN        NaN
3      MCG  CAO/CEX/CC/Courts  ...   -90.409668  40.720439
4      MCG                FRS  ...          NaN        NaN
..     ...                ...  ...          ...        ...
173    MCG                DGS  ...  -121.500155  38.549099
174    MCG                HHS  ...   -77.177593  39.102672
175    MCG                FRS  ...   -77.053153  39.042763
176    MCG                DOT  ...          NaN        NaN
177    MCG                RSC  ...   -77.095858  38.984796

[178 rows x 7 columns]

In [ ]:
df.count()

Agency        178
Department    178
Name          178
Address       178
Location      144
Longitude     165
Latitude      165
dtype: int64

In [ ]:
location = geolocator.geocode("7361 Calhoun Pl, Rockville, MD 20855")

In [ ]:
type(location)

NoneType

In [ ]:
df.dtypes

Agency        object
Department    object
Name          object
Address       object
Location      object
Longitude     object
Latitude      object
dtype: object